@font-face{
    font-style: normal;
    font-weight: lighter;
    font-family: "Bebas Neue";
    src: url(fonts/Bebas\ Neue.ttf);
}
@font-face{
    font-style: normal;
    font-weight: lighter;
    font-family: "Bebas Neue regular";
    src: url(fonts/Bebas\ Neue\ regular.ttf);
}
@font-face{
    font-style: normal;
    font-weight: lighter;
    font-family: "Bebas Neue book";
    src: url(fonts/Bebas\ Neue\ book.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.group-one{
    background-color: #0101a3;
    width: 100%;
    height: 1100px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}
.newsports{
    padding: 2%;
    display: flex;
    flex-flow: row;
    border-bottom: 15px solid #e92bde;
}
.about{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: auto;
}
.about>a>p{
    font-family: 'Bebas Neue';
    font-size: 23.78px;
    color: white;
    text-decoration: underline #0101a3;
}
.event{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    margin-top: 10%;
}
.left{
    width: 30%;
}
.blue-man{
    object-fit: cover;
    width: 550px;
    height: 580px;
}
.head>h1{
    font-family: 'Bebas Neue regular';
    font-size: 80px;
    letter-spacing: 2px;
    color: white;
    text-decoration: underline #e92bde;
}
.pinktext{
    font-family: 'Bebas Neue regular';
    font-size: 28px;
    color: #e92bde;
}
.lorem{
    font-family: 'Bebas Neue book';
    font-size: 28px;
    color: white;
    margin-top: 5%;
}
.event-text{
    margin-top: 4%;
}
.readmore>a>p{
    font-family: 'Bebas Neue regular';
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 5%;
    text-decoration: underline #e92bde;
}
.readmore{
    margin-top: 10%;
    height: 7vh;
    width: 40%;
    background-color: #e92bde;
}